  :root{
  /*Uga colors*/
  --uga-blue: #162a42;
  --uga-orange: #ff4e02;
  --uga-card-bg-title: #1670cc;
  --uga-card-bg-body: #1670cc;
  }

    .card {
      position: relative;
      transition: transform 0.3s ease;
      --bs-card-inner-border-radius: 0;
    }
    .card-img-top {
      object-fit: cover;
      height: 200px; 
    }

    .tile-content {
      position: absolute;
      top: 20px;
      left: 0;
      background-color: var(--uga-card-bg-title); 
      color: #fff;
      padding-top: 4px;
      padding-left: 4px;
      padding-right: 6px;
      display: inline;
      white-space: nowrap;
    }


    .card:hover {
      transform: translateY(-10px); 
    }

    .card:hover .card-body {

      background-color: var(--uga-orange);
    }


    .card:active .card-body {

      background-color: var(--uga-orange);
    }

    .card-body {
      background-color: var(--uga-card-bg-body);
    }

    .card-spacing {
      margin-top: 20px;
    }

  .fa-xmark{
      color: #ff4e02;
    }


  body {
    background: rgba(0, 0, 0, 0.03);
  }

  .resource-card-img-top {
      object-fit: cover;
      height: 500px; 
    }

    h3 {
      color: var(--uga-orange);
      font-weight: bold;
      margin-top: 2rem;
    }

    .addButton {
      color: var(--uga-blue);
    }

    .addButton:hover {
      color: var(--uga-orange);
    }