.card-img-top {
      object-fit: cover;
      height: 250px; /* Adjust the desired height for the cropped images */
    }

 .card {
      position: relative;
      transition: transform 0.3s ease;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
    .card-img-top {
      object-fit: cover;
      height: 200px; /* Adjust the desired height for the cropped images */
    }

    .tile-content {
      position: absolute;
      top: 20px;
      left: 0;
      background-color: rgba(22, 112, 204, 1); /* Optional: Add a background color to the title */
      color: #fff;
      padding-top: 4px;
      padding-left: 4px;
      padding-right: 6px;
      display: inline;
      white-space: nowrap;
    }


    .card:hover {
      transform: translateY(-10px); /* Adjust the desired amount of upward movement */
    }

    .card-spacing {
    margin-top: 20px;
    }

.fa-xmark{
  color: #ff4e02;
}